body{
color:red;
}

p {
    color: blue;
}

 a, p, h2 {
    color: rgb(81, 173, 158);
}

.par1{

    color:green;
}

.par2 {
color: black;
}

#header {

background-color: lightcoral;
}

.article1 p span {

    color:cornflowerblue;
}

.span{
color:green;
}

input[type="text"] {

background:red;
}

/* Selecteur dynamique */

/* modification de l'élément déclencher par une action */
a:hover {
color:black;
}

/* curseur sur le liens,disparaît lorsque l'on clique ailleurs */
a:focus{
color:yellow
}

/* s'active lorsqu'on laisse le clique sur le liens */
a:active{
color:green;
}

a:visited {

 color:blue;
}
/* Appliquela règle de stylesur la première ligne de chaque paragraphe */
p::first-line {
    color:yellow;
}

p::first-letter {
color:red;
}