.header-nav a {
    text-decoration: none;
}

.header {
    margin-bottom: 30px;
}

.main {
    display: flex;
    padding: 10px;
    background: beige;
    width: 50%;
    margin: auto;
}

img {
    width: 300px;
    height: 300px;
}

.content-img:hover {
    transition: transform 0.5s;
    transform: scale(1.1) rotate(90deg);
}

a:hover{
    transition: color 2s;
    color: brown;
}