#content-blue {
background-color:aquamarine;
}

#box-blue1 ,#box-blue2 {
width:20%;
background-color:blue;
}

#content-orange {
background-color:orange;
height: 600px;
padding:10px;
}

#content-orange div {
background:red;
margin:10px;
}
